#wrap{
    margin:0 auto;
    width:1000px;
    position:relative;
    

}

#slide .slide_image{
    background:url(../image/g1.jpeg) center;
    background-size:slice;
    width:1000px;
    height: 400px;
    position:relative; 
    left: 430px;
}
#content{
    width:100%;
    height:280px;
    
    left: 410px;
    position:relative;
}
.g_top{
    background: url(../image/g2.jpeg) left; 
    width:30%;
    height:380px;
    float: 10px;
}
 .g_right{
    background: url(../image/g3.jpeg) right;
    width:30%;
    height:400px;
    float:10px;
    float:right;
    
}

    
        
