#buttonWrap {
    text-align: center; 
    margin-top: 20px; }

#button {
    padding: 10px 20px; 
    margin: 0 10px; 
    font-size: 16px; 
    background-color: #4CAF50; 
    color: white; 
    border: none; 
    cursor: pointer; 
    border-radius: 5px; 
}

#button:hover {
    background-color: #45a049; 
}


#wrap {
    text-align: center; 
    margin-top: 20px; 
    background: url(../image/미니게임.png);
    background-size: cover;
    height:100vh;
    display:flex;
    min-width:900px;
}

#comArea {
    margin-top: 20px; 
}

.rpsImg {
    width: 200px; 
    height: 200px; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    overflow: hidden; 
}

#comImg {
    width: 100%; 
    height: auto; 
}